<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capturestudio">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.capturestudio.ui.camera.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
